<div class="main-dashboard" data-expenses="<%= @expenses_amount_by_month.to_json %>" data-rents="<%= @rent_amount_by_month.to_json %>">
  <canvas id="bar-chart" width="800" height="450">

  </canvas>
</div>



