// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blanc-1: #F5F5FE;
$blanc-2: #DEDFEC;
$gris:    #515253;
$noir:    #202020;
$flash:   #DAF552;
