          <div class="area"></div><nav class="main-menu">
              <ul>
                <li>
                    <a href="">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/housings">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Biens
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/expenses">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Comptabilité
                        </span>
                    </a>

                </li>
                <li class="/renters">
                    <a href="/renters">
                        <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Locataires
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Documents administratifs
                        </span>
                    </a>

                </li>
            </ul>

            <ul class="logout">
                <li>
                    <i class="fa fa-power-off fa-2x"></i>
                      <span class="nav-text">
                        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                      </span>
                </li>
            </ul>
        </nav>

