<div class="banner">
  <div class="container">
    <h1>Avec <mark>RentEase</mark></h1>
    <h1>Gérez vos biens
    <br>comme un professionnel
      <span id="banner-typed-text"></span>
    </h1>
    <br>
    <br>
    <br>
    <br>
    <br>
      <%= link_to "Créez votre compte", new_user_registration_path, class:"btn-signup-form" %>
  </div>
</div>

<div class="container home-content">

  <h2>Pourquoi utiliser RentEase ?</h2>

  <div class="homepage-grid">
    <div class="card-homepage">
       <img src="https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGFuaW1hbHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    <div class="card-homepage-infos">
        <h2>Un outil 360</h2>
        <p>Notre plateforme <mark>centralise</mark> tout ce dont vous avez besoin de gérer.</p>
      </div>
    </div>

    <div class="card-homepage">
      <img src="https://images.unsplash.com/photo-1547289860-5269b06d0f56?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" />
      <div class="card-homepage-infos">
        <h2>Gagnez en efficacité</h2>
        <p>Soyez efficace dans la <mark>gestion de vos biens</mark> et ne perdez plus de temps administratif inutile.</p>
      </div>
    </div>

    <div class="card-homepage">
      <img src="https://images.unsplash.com/photo-1414445092210-ee1a2da44ad7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80" />
      <div class="card-homepage-infos">
        <h2>Pilotez vos revenus</h2>
        <p><mark>Gérez</mark> vos entrées et sorties d'argent pour chacuns de vos biens.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= link_to "M'inscrire", new_user_registration_path, class:"btn-signup-form" %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Ils nous font confiance</h1>

    <div class="homepage-grid">
      <div class="card-homepage">
        <div class="card-homepage-avis h-50 py-3">
          <div class="card-homepage-reviews-text h-100">
            <p class="px-3">"J'utilise RentEase depuis 3 ans et j'adore sa <mark>simplicité d'utilisation</mark>."</p>
            <div class=card-homepage-reviews>
              <img class="avatar-bordered" src="https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGFuaW1hbHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="avatar1">
              <p class="m-0">Michel, propriétaire de 3 biens locatifs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-homepage">
        <div class="card-homepage-avis h-50 py-3">
          <div class="card-homepage-reviews-text h-100">
            <p class="px-3">"RentEase <mark>centralise</mark> tout ce dont j'ai besoin de gérer. C'est révolutionnaire !" </p>
            <div class=card-homepage-reviews>
              <img class="avatar-bordered" src="https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGFuaW1hbHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="avatar1">
              <p class="m-0">Emma, propriétaire de 4 biens locatifs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-homepage">
        <div class="card-homepage-avis h-50 py-3">
          <div class="card-homepage-reviews-text h-100">
            <p class="px-3">"Visibilité et <mark>prévision</mark> sont les 2 mots qui décrivent le mieux RentEase ! Je recommande chaudement"</p>
            <div class=card-homepage-reviews>
              <img class="avatar-bordered" src="https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGFuaW1hbHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="avatar1">
              <p class="m-0">Youri, propriétaire de 3 appartements</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/housebeautiful/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    © 2021 🏠 RentEase 🏠
  </div>
</div>
