.banner {
  padding: 150px 0;
  height: 650px;
  background-image: image_url('bannerRentease.svg');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: right;
  height: 650px;
}



.banner h1 {
  margin: 0;
  color: #gris;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: 800;
}

.banner p {
  font-size: 32px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font:$body-font;
}

