.btn-signup-form {
  border: 4px solid $flash;
  text-align:center;
  font-size: 16px;
  border-radius: 38px;
  color: $noir !important;
  padding: 15px 32px;
  width: 100%;
  opacity: 0.8;
  width: 100%;
}
.btn-signup-form:hover {
  opacity: 1;
  text-decoration: none;
  color: $flash !important;
}

.btn-outline {
  color: $gris;
  border: 1px solid $gris;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  align-items: center;
}

.btn-outline:hover {
  opacity: 1;
}
