.card-housing {
  border-radius: 4px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 450px;
  width: 550px;
}

.card-housing > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.card-housing h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}

.card-housing p {
  font-size: 16px;
  opacity: .7;
}

.title-position {
  align-items: left;
} .btn-outline {
  margin: 5px;
}

.card-housing .card-housing-infos {
  text-align: left;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 10px;
}

.housing-grid {
  flex-grow: 1;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}




.card-housing-show {
  width: 100%;
}

.card-housing-show > img {
  height: 450px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  object-fit: cover;
}
.card-housing-show h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.card-housing-show p {
  font-size: 20px;
  opacity: .9;
  margin: 0 !important;
}

.card-housing-show .card-housing-show-infos {
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.card-housing-show-avatar > img {
  height: 100px;
  width: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: solid $blanc-1 1px;
  border-radius: 50%;
  position: absolute;
  right: 120px;
  top: 420px;
}


.card-contract {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 10px 0;
  width: 100%;
}

.card-contract > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card-contract h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.card-contract p {
  font-size: 16px;
  opacity: .9;
  margin: 0 !important;
}

.contract-duration {
  border: solid 1px;
  border-color: $flash;
  opacity: 0.7;
  padding: 10px 20px;
  border-radius: 4px;
}

.contract-price {
  background-color: $flash;
  opacity: 0.7;
  padding: 10px 20px;
  border-radius: 4px;
}

// CARDS RENNTERS //

.card-renter {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  width: 300px;
  border-radius: 4px;
  position: relative;
}
.card-renter .cross-delete {
  font-size: 24px;
  font-weight: lighter;
  color: $blanc-2;
  position: absolute;
  right: 3px;
  top: -3px;

}

.card-renter > img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.card-renter h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-renter p {
  font-size: 12px;
  //opacity: .7;
  margin: 0;
}

.card-renter .card-renter-infos {
  padding: 16px;
  display: flex;
  position: relative;
}

.renter-grid {
  flex-grow: 1;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}
.cards-dashboard-container {
   display: flex;
   justify-content: center;
}
.card-dashboard {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding : 16px;
  width : 300px;
  height: 180px;
  margin: 0px 12px;
}

.amount-card {
  color: $gris;
}

.card-ch {
  background-color: $blanc-2;
  border-radius: 4px;
  padding: 16px;
  width: 30%;
  text-align: center;
}

.card-ah {
  background-color: #C2C2CD;
  border-radius: 4px;
  padding: 16px;
  width: 30%;
  text-align: center;
}

.card-ql {
  background-color: #A0A0A9;
  border-radius: 4px;
  padding: 16px;
  width: 30%;
  text-align: center;
}

// REVIEW //

.container-testi *{
  box-sizing: border-box
}
.container-testi body{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-weight: 100;
  color: #777;
}
.container-testi{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-testi .testimonial-card{
  min-height: 400px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0,0,0,.3);
  display: flex;
  flex-flow: column;
  justify-content:space-between;

}
.container-testi .text{
  padding: 2.2em;
  line-height: 1.7em;
  position: relative;
  font-size: 18px;
}
.container-testi .image-1{
  background-color:tomato;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url(https://images.unsplash.com/photo-1623685462866-1f6fd75d0f25?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=384&q=80);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content:center;
}


.container-testi .image-2{
  background-color:tomato;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url(https://images.unsplash.com/photo-1622692381792-9af7e3116c09?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content:center;
}

.container-testi .image-3{
  background-color:tomato;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url(https://images.unsplash.com/photo-1520853504280-249b72dc947c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content:center;
}

.container-testi .footer-card{
  background: linear-gradient(90deg, $flash 0%, $flash 100%);
  height: 140px;
  border-radius: 0 0 10px 10px;
  position:relative;

}

.container-testi .quote{
  font-size: 400%;
  float: right;
  opacity: .1;
  transform: rotate(10deg) translate(-10px, -40px);
 color:#4D3FA3;
}

.container-testi .person{
  color:black;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size:1.5rem;
  font-weight: 600;
}

.container-testi .person .lighter{
  font-weight: lighter;
  font-size: 20px;
}
