.percentage {
  color: $flash;
  font-weight: lighter;
}


.main-dashboard {
  width: 80%;
  max-height: auto;
  margin-left: 132px;
}

#body-dash {
  max-height: 100px;
  max-width: 1400px;
  margin-top:24px;

}
